<%- include('../partials/header.ejs') %>
  <main>
    <h1>Edit <%= event.name%> <br> </h1>

      <form method = "POST" action = "/events/<%= event.id%>?_method=PUT" class="form">
        <div class="form-info"> 
          <div class="form-labels">
            <label for="title" ><b>Name:</b></label> <br><br>
            <label for="game" ><b>Game:</b></label> <br><br>
            <label for="category" ><b>Category:</b></label> <br><br>
            <label for="platform"><b>Platform:</b></label><br><br>
            <label for="host"><b>Host:</b></label><br><br>
            <label for="details"><b>Details:</b></label><br><br>
            <label for="location"><b>Location:</b></label><br><br>
            <label for="when"><b>Date:</b></label><br><br>
            <label for="start"><b>Start Time:</b></label><br><br>
            <label for="end"><b>End Time:</b></label><br><br>
            <label for="file_extension"><b>Add Flyer:</b></label><br><br>
          </div>

          <div class="form-answers">
            <input type="text" id="title" name="title" value="<%= event.name%>" class="input-field" required> 
            <input type="text" id="game" name="game" value="<%= event.game%>" class="input-field" required>
            <select id="category" name="type" class="select.input-field" required>
              <option value="" selected><%= event.type%></option>
              <option value=<%= event.type%>>Tournament</option>
              <option value=<%= event.type%>>Free Play</option>
            </select>    
            <select id="platform" name="platform" class="select.input-field" required> 
              <option value="" selected><%= event.platform%></option>
              <option value=<%= event.platform%>>Nintendo Switch</option>
              <option value=<%= event.platform%>>Xbox</option>
              <option value=<%= event.platform%>>PlayStation</option>
              <option value=<%= event.platform%>>Mobile</option>
              <option value=<%= event.platform%>>PC</option>
              <option value=<%= event.platform%>>Other</option>
            </select>  
            <input type="text" id="host" name="host" value="<%= event.host%>" class="input-field" required> 
            <input type="text" id="details" name="details" value="<%= event.details%>"  class="input-field" required>   
            <input type="text" id="location" name="location" value="<%= event.location%>"  class="input-field" required>  
            <input type="date" id="when" name="when" value="<%= event.date%>" class="input-field" required>
            <input type="time" id="start" name="start"  value="<%= event.startTime%>" class="input-field" required> 
            <input type="time" id="end" name="end" value="<%= event.endTime%>" class="input-field" required>
            <input id="file_extension" name="file_extension" value="<%= event.imageFlyer%>" class="input-field" type="file" accept="file_extension/*"> <br>
            <input type="submit" value="submit"> <br><br>
          </div>
        </div>
      </form> 
    </main>
<%- include('../partials/footer.ejs')%>
