<%- include('../partials/header.ejs') %>

  <div class="display-meetups">
    <h1><%=event.name%></h1>
    <small>Posted <%= event.createdAt%> by <%= event.host.firstName + ' ' + event.host.lastName%></small>
    <br>

    <div class="event-container">
      <!-- Show event image -->
      <div class='event-image'>
        <img src="<%= event.imageFlyer %>" alt="Event Flyer">
      </div>

      <!-- Show event details -->
      <div class="meetup-info">
        <div class="info-labels">
          <p>Game:</p><br>
          <p>Host:</p><br>
          <p>Date:</p><br>
          <p>Time:</p><br>
          <p>Location:</p><br>
          <p>Category:</p><br>
          <p>Platform:</p><br>
          <p>Details:</p>
          <p>RSVP Count: <strong><%= event.yesCount %></strong> people have confirmed</p><br>
        </div>
    
        <div class="info-answers">
          <p><%=event.game%></p><br>
          <p><%=event.host.firstName + ' ' + event.host.lastName%></p><br>
          <p><%=event.formattedDate%></p><br>
          <p><%=event.formattedStartTime%> - <%=event.formattedEndTime%></p><br>
          <p><%=event.location%></p><br>
          <p><%=event.formattedCategory%></p><br>
          <p><%=event.formattedPlatform%></p><br>
          <p class="wrap-text"><%=event.details%></p>
        </div>
      </div>
      <!-- RSVP Buttons -->
      <% if (user && event.host._id.toString() !== user._id.toString()) { %>
        <div class="rsvp-buttons">
          <form action="/events/<%= event._id %>/rsvp" method="POST">
            <button type="submit" name="status" value="YES" class="btn btn-primary">YES</button>
            <button type="submit" name="status" value="MAYBE" class="btn btn-warning">MAYBE</button>
            <button type="submit" name="status" value="NO" class="btn btn-danger">NO</button>
          </form>
        </div>
      <% } else { %>
        <p>You cannot RSVP for your own event.</p>
      <% } %>
    </div>
  </div>

</main>
<%- include('../partials/footer.ejs')%>
