<%- include('../partials/header.ejs') %>

    <form>
      <br>
      <button type = "submit" formmethod="GET" formaction="/events/<%=event.id%>/edit"><img src = "/images/edit_icon.png" alt="Edit Button"></button>
      <button type = "submit" formmethod="POST" formaction="/events/<%=event.id%>?_method=DELETE"><img src = "/images/trash_icon.png" alt="Trash Button"></button>
  </form>
    <div class="display-meetups">

            <h3><%=event.name%></h3>
            <small>Posted <%=event.createdAt%> by <%=event.host%></small>
            <br>

            <div class="meetup-info">
                <div class="info-labels">
                  <p>Game:</p><br>
                  <p>Host:</p><br>
                  <p>Date:</p><br>
                  <p>Time:</p><br>
                  <p>Location:</p><br>
                  <p>Category:</p><br>
                  <p>Platform:</p><br>
                  <p>Details:</p>
                </div>
    
                <div class="info-answers">
                  <p><%=event.game%></p><br>
                  <p><%=event.host.firstName + ' ' + event.host.lastName%></p><br>
                  <p><%=event.date%></p><br>
                  <p><%=event.startTime%> - <%=event.endTime%></p><br>
                  <p><%=event.location%></p><br>
                  <p><%=event.type%></p><br>
                  <p><%=event.platform%></p><br>
                  <p class="wrap-text"><%=event.details%></p>
                </div>
            </div>
    </div>

    <div class='pictures'>
      <img src="<%= event.imageFlyer %>" alt="Event Flyer">
    </div>
  </main>
<%- include('../partials/footer.ejs')%>
