<%- include('../partials/header.ejs') %>
    <div class = "content">
        <h4><%=event.name%></h4>
        <small>Posted <%=event.createdAt%> by <%=event.author%></small>
        <div id = "event"><%=event.game%></div>
        <form>
            <button type = "submit" formmethod="GET" formaction="/events/<%=event.id%>/edit">Edit</button>
            <button type = "submit" formmethod="POST" formaction="/events/<%=event.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
    <form>
        <button type = "submit" formmethod="GET" formaction="/events/<%=event.id%>/edit">Edit</button>
        <button type = "submit" formmethod="POST" formaction="/events/<%=event.id%>?_method=DELETE">Delete</button>
    </form>

    <%- include('../partials/footer.ejs')%>
