<%- include('../partials/header.ejs') %>

  <div class="display-meetups">
    <h1><%=event.name%></h1>
    <small>Posted <%= event.createdAt %> by <%= event.host.firstName + ' ' + event.host.lastName %></small>

    <!-- RSVP Buttons -->
     <!-- Check if user is logged in -->
    <% if (!user) { %>
      <!-- user is not the host -->
      <% if (user && event.host._id.toString() !== user._id.toString()) { %>
        <div class="rsvp-buttons">
          <form action="/events/<%= event._id %>/rsvp" method="POST">
            <button type="submit" name="status" value="YES" class="btn-yes">YES</button>
            <button type="submit" name="status" value="MAYBE" class="btn-maybe">MAYBE</button>
            <button type="submit" name="status" value="NO" class="btn-no">NO</button>
          </form>
        </div>
          <% } else if (user) { %>
            <p>You cannot RSVP for your own event.</p>

            <% }  else { %>
            <p>You must login to RSVP for an event.</p>
          <% } %>
    <% }  else { %>
      <!-- show RSVP buttons if user is not logged in -->
      <div class="rsvp-buttons">
        <form action="/events/<%= event._id %>/rsvp" method="POST">
          <button type="submit" name="status" value="YES" class="btn-yes">YES</button>
          <button type="submit" name="status" value="MAYBE" class="btn-maybe">MAYBE</button>
          <button type="submit" name="status" value="NO" class="btn-no">NO</button>
        </form>
      </div>
    <% } %>
    <br>

    <div class="event-container">
      <!-- Show event image -->
      <div class='event-image'>
        <img src="<%= event.imageFlyer %>" alt="Event Flyer">
      </div>

      <!-- Show event details -->
      <div class="meetup-info">
        <div class="info-labels">
          <p>Game:</p><br>
          <p>Host:</p><br>
          <p>Date:</p><br>
          <p>Time:</p><br>
          <p>Location:</p><br>
          <p>Category:</p><br>
          <p>Platform:</p><br>
          <p>Details:</p><br>
          <p>RSVP Count:</p><br>
        </div>
    
        <div class="info-answers">
          <p><%=event.game%></p><br>
          <p><%=event.host.firstName + ' ' + event.host.lastName%></p><br>
          <p><%=event.formattedDate%></p><br>
          <p><%=event.formattedStartTime%> - <%=event.formattedEndTime%></p><br>
          <p><%=event.location%></p><br>
          <p><%=event.formattedCategory%></p><br>
          <p><%=event.formattedPlatform%></p><br>
          <p class="wrap-text"><%=event.details%></p><br>
          <p>
            <%= event.rsvps.filter(rsvp => rsvp.status === 'YES').length %>
          </p>        
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer.ejs')%>
