<%- include('../partials/header.ejs') %>
    <h4><%=event.name%></h4>
    <small>Posted <%=event.createdAt%> by <%=event.author%></small>
    <div id = "event"><%=event.game%></div>
    <form>
        <button type = "submit" formmethod="GET" formaction="/stories/<%=story.id%>/edit">Edit</button>
        <button type = "submit" formmethod="POST" formaction="/stories/<%=story.id%>?_method=DELETE">Delete</button>
    </form>
    <%- include('../partials/footer.ejs')%>
